li {
  padding: 0.2rem;
  list-style: none;
}
.ComponentTableData {
  text-align: left;
}
ul {
  overflow: hidden;
}

.NotAvailable-span {
  display: flex;
  align-content: center;
  justify-content: center;
}
.NotAvailable-span td {
  border: none;
}

.vehicles-space {
  font-size: 1.3rem;
}
