table,
th,
td {
  border: solid 0.1rem #512f26;
  font-size: 1.3rem;
  padding: 0.3rem;
  border-collapse: collapse;
  cursor: pointer;

  overflow: auto;
}
td:hover {
  transform: scale(1.2);
}
table {
  /* border-collapse: collapse; */
  text-align: center;
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.DivforTable {
  overflow-x: auto;
}
th {
  background-color: #181e38;
  color: #e5bfac;
  padding: 0.8rem;
  border: #e5bfac solid;
}

tr:nth-child(even) {
  background-color: #aba3d6;
}
tr:nth-child(odd) {
  background-color: #e78a6b;
}
