table {
  border-collapse: collapse;
  max-width: 100%;
  margin: auto;
}
table,
th,
td {
  border: solid white;
  font-size: 1.3rem;
  padding: 0rem;
  cursor: pointer;
}
td:hover {
  transform: scale(1.1);
}

table * {
  padding: 0.15rem;
}

th {
  background-color: #181e38;
  color: #e5bfac;
  padding: 0.8rem;
  border: white solid;
}

tr:nth-child(even) {
  background-color: #aba3d6;
}
tr:nth-child(odd) {
  background-color: #e78a6b;
}
